div.hero-sheet-container {
  &margin-r5 {
    margin-right: 5px;
  }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    div.character-sheet {
        flex:1;
        .dead {
           visibility: hidden;
        }
        div[data-descr] {
            position: relative;
            text-decoration: underline;
            font-size: smaller;
            color: #00F;
            cursor: help;
          }
          div[data-descr]:hover::after,
          div[data-descr]:focus::after {
            content: attr(data-descr);
            position: absolute;
            left: 0;
            bottom: 15px;
            max-width: 50px;
            border: 1px #aaaaaa solid;
            border-radius: 10px;
            background-color: #ffffcc;
            padding: 12px;
            color: #000000;
            font-size: 14px;
            z-index: 1;
          }
    }
}
