div.hero-sheet-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid black;
    padding: 3px;
    div.character-sheet {
        flex: 25%;
        border: 1px solid black;
        border-radius: 4px;
        padding: 3px;
        margin: 0px 2px;
        max-width: 140px;
        .dead {
           visibility: hidden;
        }
        &.active {
          background-color: rgba(255, 255, 255);
        }
        &.inactive {
          background-color: rgba(213, 213, 213, 0.6);
        }
        button {
          display: block;
        }
      }
    .active-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
    }
    .inactive-row {
      display: flex;
      flex-direction: row wrap;
    }
}
