div.monster-area {
    display: flex;
    flex: 1;
    justify-content: center;
    .monster {
        flex: 1;
        border: 1px solid rgb(255, 0, 0);
        img {
            height: 200px;
            width: 200px;
        }
    }
}

div.combat-log {
    height: 300px;
    overflow-y: auto;
}

div.reward-container {
    border: 3px solid black;
    border-radius: 3px;
}