div.monster-area {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    padding: 5em;
    .monster {
        height: 100%;
        flex: 1;
        border: 1px solid rgb(255, 0, 0);
        img {
            max-width: 75%;
        }
    }
}

div.reward-container {
    border: 3px solid black;
    border-radius: 3px;
}